/* --------------------------------------------------------------------------------- */
/* Section 1  */

.text {
  font-family: var(--font-family);
  font-size: var(--Text);
  color: var(--whiteBase);
  margin-top: 60px;
  margin-bottom: 60px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Media query */

@media screen and (max-width: 393px) {

  .text {
    font-size: var(--Text-mobile);
    margin-top: 30px;
    margin-bottom: 30px;
  }

}